<h3><%= link_to @app.name, @app.url %></h3>

<h4><small>has a total of <%= pluralize(@events.count, "event") %>...</small></h4>

<%= line_chart @app.events.group_by_day(:created_at).count %>

<%= pie_chart @app.events.group(:name).count %>