<h3>Welcome to Blocmetrics!</h3>

<p>Blocmetrics is an analytics service with the following features:
<ul>
  <li>a client-side JS snippet that allows a user to track events on their website</li>
  <li>a server-side API that captures and saves those events to a database</li>
  <li>a Rails application that displays the captured event data for a user</li>
</ul>

<img src="https://raw.githubusercontent.com/eirinikos/blocmetrics/master/galaxy_most_eminent.png" alt="Charts for a most eminent application">